//- Domain
- const DOMAIN = "https://www.xxxxxxxxxxxxxxxxxxxxxxxxx.co.jp";

//- common　root
- const COMMON_CSS_DIRECTORY = "/assets/css/";
- const COMMON_JS_DIRECTORY = "/assets/js/";
- const COMMON_IMG_DIRECTORY = "/assets/img/common/";
- const COMMON_INCLUDE = "/assets/include/";
- const IMG_DIRECTORY = "/assets/img/";
- const PDF_DIRECTORY = "/assets/pdf/";

//- Company Name
- const COMPANY_NAME = "株式会社hoge";
